.card {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: rgb(213, 210, 210);
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    justify-content: space-between;
    
}

img {
    width: 320px;
    height: auto;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.views {
    font-weight: lighter;
    font-size: 13px;
    color: indianred;
    margin-top: -10px;
}

