.container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    height: 51px;
    width: 330px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
}

.input {
    font-size: 16px;
    color: #160e0e;
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    background-color: transparent;
}

.icon {
    font-size: 18px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boldPlaceholder::placeholder {
    font-weight: bold;
}
